<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Users</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Users.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light app-navbar mb-3">
            <div class="container app-navbar-inner">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Users</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 app-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Get">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Get">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Teachers" asp-action="Get">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Get">Employee</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> -->
                    </ul>
                    <div class="app-nav-actions">
                        <button type="button" class="app-dark-toggle" aria-label="Toggle dark mode" aria-pressed="false">
                            <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                <path class="icon-moon" d="M21.64 13.3a1 1 0 0 0-1.1-.2 8.48 8.48 0 0 1-3.86.92A8.56 8.56 0 0 1 8.1 5.46a1 1 0 0 0-.2-1.1 1 1 0 0 0-1.08-.24A10.54 10.54 0 1 0 21.88 14a1 1 0 0 0-.24-.7ZM12 20a8.54 8.54 0 0 1-6.2-14.4A10.54 10.54 0 0 0 18.4 18.2 8.48 8.48 0 0 1 12 20Z" />
                                <path class="icon-sun" d="M12 18.5a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13Zm0-15.5a1 1 0 0 1 1-1h.5a1 1 0 0 1 0 2H13a1 1 0 0 1-1-1Zm0 18a1 1 0 0 1 1-1h.5a1 1 0 0 1 0 2H13a1 1 0 0 1-1-1ZM3.22 4.64a1 1 0 0 1 1.42-1.42l.35.35a1 1 0 1 1-1.42 1.42l-.35-.35Zm14.44 14.44a1 1 0 0 1 1.42-1.42l.35.35a1 1 0 1 1-1.42 1.42l-.35-.35ZM2 12a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm18 0a1 1 0 0 1 1-1h.5a1 1 0 1 1 0 2H21a1 1 0 0 1-1-1ZM3.22 19.36l.35-.35a1 1 0 1 1 1.42 1.42l-.35.35a1 1 0 1 1-1.42-1.42Zm14.44-14.44l.35-.35a1 1 0 1 1 1.42 1.42l-.35.35a1 1 0 1 1-1.42-1.42Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Users - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
